<div class="lp">
	<div class="lp-banner">
	  <div class="jumbotron">
	    <div class="text-content">
	      <h1 class="jumbotron-title">愉悦随时随地，享受心随时随地的愉悦</h1>
	      <p class="jumbotron-slogan">
	        心随心动，愉悦丝滑
	      </p>
	      <p class="jumbotron-lead"><a class="btn-lg lp-b-btn" href="/products">
	      	立刻选购</a>
	      </p>
	    </div>
	  </div>
	</div>


  <section id="categories">
		<div class="container">
			<h1 class="tc">Our Products</h1>
      <hr/>
			<div class="row">
				<div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img src="https://image.ibb.co/mhc0tF/product3.png">
			      <div class="caption">
              <h4><%= link_to("Chocolate") %></h4>
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img src="https://image.ibb.co/mhc0tF/product3.png">
			      <div class="caption">
			        <h4><%= link_to("Chocolate") %></h4>
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img src="https://image.ibb.co/mhc0tF/product3.png">
			      <div class="caption">
			        <h4><%= link_to("Chocolate") %></h4>
			      </div>
			    </div>
			  </div>

				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="https://image.ibb.co/mhc0tF/product3.png">
						<div class="caption">
							<h4><%= link_to("Chocolate") %></h4>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="https://image.ibb.co/mhc0tF/product3.png">
						<div class="caption">
							<h4><%= link_to("Chocolate") %></h4>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="https://image.ibb.co/mhc0tF/product3.png">
						<div class="caption">
							<h4><%= link_to("Chocolate") %></h4>
						</div>
					</div>
				</div>
	</section>


  <section id="testimonials" class="sec-testimonials">
    <div class="container">
      <h1 class="tc">OVER
        <span>25,0000 </span>Customers
        <br>
        TRUST US WITH our products!
      </h1>

      <hr />

        <div class="col-sm-4">
          <div class="sec-profileImg">
            <img src="https://image.ibb.co/is14Lv/user.png">
          </div>
          <div class="block-content">
            <p>"the chocolate is good, is very good, it's very very good!"</p>
            <p class="text-right">&mdash; Tengku Muzani</p>
          </div>

        </div>

        <div class="col-sm-4">
          <div class="sec-profileImg">
            <img src="https://image.ibb.co/is14Lv/user.png">
          </div>
            <div class="block-content">
              <p>"the chocolate is good, is very good, it's very very good!"</p>
              <p class="text-right">&mdash; Dulanjalee</p>
            </div>

        </div>

        <div class="col-sm-4">
            <div class="sec-profileImg">
              <img src="https://image.ibb.co/is14Lv/user.png">
            </div>
            <div class="block-content">
              <p>"the chocolate is good, is very good, it's very very good!"</p>
              <p class="text-right">&mdash; Maya Zaharudin</p>
            </div>
      </div>
      </div>
    </div>
  </section>


	<div class="text-content pa pt60 pb60">
			<p class="wow zoomIn" data-wow-duration=".5s" style="visibility: visible;animation-duration: 0.5s;animation-name: zoomIn;">
				<a class="btn-lg lp-b-btn bc" href="/products">立刻选购</a>
			</p>
	</div>
