<div class="row">

    <div class="col-xs-6 col-md-3">
      <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
      <%= product.title %> ￥ <%= product.price %>
      <% if !product.users.include?(current_user) %>
        <%= link_to("",add_to_favorite_product_path(product),method: :post, class: "fa fa-heart") %>
      <% else %>
        <%= link_to("", quit_favorite_product_path(product),method: :post,  class: "fa fa-heart", style: "color:red;") %>
      <% end %>
    </div>

</div>
