<div class="category_sidebar tc border f12">
  <% Category.all.each do |category| %>
    <%= link_to category.name, products_path(category: category.name) %>
  <% end %>
  <a class="backtop" href="javascript:;"><i class="fa fa-arrow-circle-up"></i></a>
</div>

<br>

<div class="row content">

  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-4">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥ <%= product.price %>

      <% if !product.users.include?(current_user) %>
        <%= link_to("",add_to_favorite_product_path(product),method: :post, class: "fa fa-heart") %>
      <% else %>
        <%= link_to("", quit_favorite_product_path(product),method: :post,  class: "fa fa-heart", style: "color:red;") %>
      <% end %>

    </div>
  <% end %>
</div>
