
<nav class="navbar navbar-default bg-color2 navbar-fixed-top" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src='<%= image_url 'logo-black.png' %>' ></a>
      </div>

          <div class="bg-color2">
            <ul class="nav nav-pills" role="tablist">
              <li><a href="/products">Product</a></li>

              <li class="nav navbar-nav navbar-left">
                  <%= form_tag search_products_path , :method => :get do %>
                    <div class="search" >
                      <input class="search-input" type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="Product name">
                      <button class="search-button" type="submit"><i class="fa fa-search col-red"></i></button>
                    </div>
                  <% end %>
              </li>

            <ul class="nav navbar-nav navbar-right">
              <li>
                 <%= link_to carts_path do  %>
                    <i class="fa fa-shopping-cart"> </i> ( <%= current_cart.products.count %> )
                 <% end %>
              </li>

              <% if !current_user %>
                <li><%= link_to("Signup", new_user_registration_path) %> </li>
                <li><%= link_to(content_tag(:i, 'Login', class: 'fa fa-sign-in'), new_user_session_path) %></li>

              <% else %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Hi!, <%= current_user.email %>
                      <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <% if current_user.admin? %>
                        <li>
                          <%= link_to("Admin Panel", admin_products_path ) %>
                        </li>
                    <%else%>
                        <li>
                          <%= link_to("Order List", account_orders_path ) %>
                          <li><%= link_to(content_tag(:i, "My Favorite", class: "fa fa-heart fa-md"), products_path(:favorite => "yes"))%> </li>
                        </li>
                    <% end %>
                        <li> <%= link_to(content_tag(:i, 'Logout', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %> </li>
                  </ul>
                </li>

              <% end %>
            </ul>
    			</ul>
        </div>
</nav>
