
<nav class="navbar navbar-default bg-color2" role="navigation">
    <div class="container-fluid">
          <div class="bg-color2">
            <ul class="nav nav-pills" role="tablist">
    					<li class="active"><a href="/">home</a></li>
              <li><a href="/products">product</a></li>
              <li><a href="#">Special</a></li>
              <li><a href="#">Testimonials</a></li>

            <li class="nav navbar-nav navbar-left">
                <%= form_tag search_products_path , :method => :get do %>
                  <div class="search" >
                    <input class="search-input" type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="请输入产品信息">
                    <button class="search-button" type="submit"><i class="fa fa-search col-red"></i></button>
                  </div>
                <% end %>
            </li>

            <ul class="nav navbar-nav navbar-right">
              <li>
                 <%= link_to carts_path do  %>
                    购物车 <i class="fa fa-shopping-cart"> </i> ( <%= current_cart.products.count %> )
                 <% end %>
              </li>

              <% if !current_user %>
                <li><%= link_to("注册", new_user_registration_path) %> </li>
                <li><%= link_to(content_tag(:i, '登入', class: 'fa fa-sign-in'), new_user_session_path) %></li>

              <% else %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Hi!, <%= current_user.email %>
                      <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <% if current_user.admin? %>
                        <li>
                          <%= link_to("Admin 选单", admin_products_path ) %>
                        </li>
                    <%else%>
                        <li>
                          <%= link_to("个人订单列表", account_orders_path ) %>
                          <li><%= link_to(content_tag(:i, "我的收藏", class: "fa fa-heart fa-md"), products_path(:favorite => "yes"))%> </li>
                        </li>
                    <% end %>
                        <li> <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %> </li>
                  </ul>
                </li>

              <% end %>
            </ul>
    			</ul>
        </div>
</nav>
